<!-- This is a default template for contracts in version 1.0 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>One Time Otp</title>
</head>
<body>
    <div class="header">
          <img src="{{logoUrl}}" alt="Logo" />
          <h1>{{title}}</h1>
        </div>
        <div class="content">
            <p>Hello {{username}}</p>
          <p>Your one time otp code is: {{otpCode}}</p>
          <p>This code will expire in: {{expiry}}</p>
        </div>
</body>
</html>